<header class="header">
  <div class="header-left">
    <div>
      <a class="header-link" href="https://developers.line.biz/en/reference/ios-sdk-swift/">
        <span class="header-title">LINE SDK Docs</span>
      </a>
      {{#doc_coverage}} ({{doc_coverage}}% documented){{/doc_coverage}}
    </div>
    <nav class="GlobalHeaderNav">
      <ul>
        <li><a class="GlobalHeaderNavLink Link-blank" href="/en/" target="_blank" data-navlink="docs_site" data-translate="translate_header_menu_docs_site">LINE Developers Site</a></li>
        <li><a class="GlobalHeaderNavLink Link-blank" href="https://github.com/line/line-sdk-ios-swift/releases" target="_blank">Releases</a></li>
      </ul>
    </nav>
  </div>

  {{^disable_search}}
  <p class="header-col--secondary">
    <form role="search" action="{{path_to_root}}search.json">
      <input type="text" placeholder="Title search" class="doc-search" data-typeahead>
    </form>
  </p>
  {{/disable_search}}

  {{#github_url}}
    <p class="header-col header-col--secondary">
      <a class="header-link" href="{{github_url}}">
        <img class="header-icon" src="{{path_to_root}}img/gh.png"/>
        View on GitHub
      </a>
    </p>
  {{/github_url}}

  {{#dash_url}}
    <p class="header-col header-col--secondary">
      <a class="header-link" href="{{dash_url}}">
        <img class="header-icon" src="{{path_to_root}}img/dash.png"/>
        Install in Dash
      </a>
    </p>
  {{/dash_url}}
</header>
